{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{{coin}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="text-align: center">
    <input type="hidden" id="task_id" value="{{task_id}}">
    <h2 id="coin_name">{{coin}}</h2>
    <div class="btn-time">
       <input type="button" arg="1d" value="1 дн." class="btn btn-primary" {% if time == "1d" %}disabled{% endif %}>

        <input type="button" arg="7d" value="7 дн." class="btn btn-primary" {% if time == "7d" %}disabled{% endif %}>
        <input type="button" arg="20d" value="20 дн." class="btn btn-primary" {% if time == "20d" %}disabled{% endif %}>
    </div>
    <img src="data:image/png;base64,{{ image_base64 }}" alt="График цены закрытия">

     <table class="table table-striped table-bordered" style="width: 50%; position: relative;left: 50%;transform: translate(-50%)">
            <thead class="thead-dark" >
                <tr>
                    <th>Дата и время</th>
                    <th>Цена закрытия (USDT)</th>
                </tr>
            </thead>
            <tbody>
                {% for date, price in data_for_table.items %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{predict_time}}</td>
                    <td id="predict_col"><input type="button" id="go_predict" value="Предсказать" class="btn btn-primary"></td>
                </tr>
            </tbody>
        </table>
</body>
<script src="{% static 'main/js/coin_page.js'%}"></script>
</html>